    version: '2'
    services:
        nginx:
            image: tutum/nginx
            ports:
              - "80:80"
            volumes:
              - ./docker/nginx/default:/etc/nginx/conf.d/default.conf     

              - ./docker/nginx/logs/nginx-error.log:/var/log/nginx/error.log
              - ./docker/nginx/logs/nginx-access.log:/var/log/nginx/access.log

        phpfpm:
            build:
                context: ./
                dockerfile: ./docker/php-fpm/phpfpm.docker
            links:
              - mysql:mysql
              - postgresql:postgresql
            ports:
              - "9000:9000"
            volumes:
              - ./:/var/www/website
        mysql:
            image: mariadb
            environment:
              MYSQL_TCP_PORT: 3306
              MYSQL_ROOT_PASSWORD: root

        phpmyadmin:
            image: phpmyadmin/phpmyadmin
            restart: always
            depends_on:
              - mysql
            links:
                - mysql:mysql
            ports:
                - 8183:80
            environment:
              PMA_HOST: mysql
              PMA_PORT: 3306
              MYSQL_ROOT_PASSWORD: root
        postgresql:
            image: postgres
            volumes:
                - ./docker/postgres/data:/var/lib/postgresql/data
                - ./docker/postgres/logs:/var/log/postgresql
            ports:
                - "5432:5432"
            environment:
                - POSTGRES_PASSWORD=root
                - POSTGRES_USER=root
                - POSTGRES_DB=own.lemp.docker
                - PGDATA=/var/lib/postgresql/data/pgdata
