
/nginx/logs/nginx-access.log
/nginx/logs/nginx-error.log
/mysql/import/
/logstash/jdbc-connector/mysql-connector-java-8.0.15.zip
/logstash/jdbc-connector/mysql-connector-java-8.0.15/
/graylog/logs/.kafka_cleanshutdown
/graylog/logs/recovery-point-offset-checkpoint
/graylog/logs/.lock
/graylog/logs/graylog2-committed-read-offset
/graylog/logs/messagejournal-0/
/own-sphinx/index/posts.spm
/own-sphinx/index/posts.spk
/own-sphinx/index/posts.spi
/own-sphinx/index/posts.sph
/own-sphinx/index/posts.spe
/own-sphinx/index/posts.spd
/own-sphinx/index/posts.sps
/own-sphinx/index/posts.spa
/own-sphinx/index/posts.spp
/own-sphinx/rt/.kill
/own-sphinx/rt/.meta
/own-sphinx/rt/.ram
/own-sphinx/rt/.lock
/postgres/data/
/sphinx/data/binlog.001
/sphinx/data/binlog.meta
/sphinx/data/binlog.lock
/sphinx/binlog/binlog.meta
